.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: 2%;
    justify-content: space-evenly;
    
    mat-form-field {
        margin: 2%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

}
// TODO: remove
#hello {
    color:white;
}
